<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{"yyyy-MM-dd'T'HH:mm:ss.SSS'Z'",UTC} %highlight(%-5level) [%-10.10t] %cyan(%logger{36}) - %msg%ex{full}%n</pattern>
        </encoder>
    </appender>
    
    <!-- Jersey client logging: 'info' is silent, 'debug' shows request/response and body -->
    <logger level="debug" additivity="false" name="org.glassfish.jersey.logging.LoggingFeature">
        <appender-ref ref="CONSOLE"/>
	</logger>

    <!-- CST 8277 logging -->
    <logger level="debug" additivity="false" name="com.algonquincollege">
        <appender-ref ref="CONSOLE" />
    </logger>
    
    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <!-- reset all previous level configurations of all j.u.l. loggers -->
        <resetJUL>true</resetJUL>
    </contextListener>
</configuration>